<%- include('../partials/header.ejs', {}) %>
<section class="section mt-5">
    <div class="container">
        <h1>Pending Bots <%= data[0].username %> <button class="btn btn-outline-danger"><%= data[0].position %></button></h1>
        <br/>
        <div class="row">
        <% for(i=0; i < bot.length; i++){ %>
            <div class="me-5 card bg-dark text-light shadow-lg mt-5" style="width: 18rem;">
              <a href="/admin/dashboard/editbot/<%= bot[i].botID %>" class="text-decoration-none text-light">
                <img src="<%= bot[i].botPP %>" class="mx-auto d-block card-img-top rounded-pill card-img mt-2" alt="botpp">
                <div class="card-body">
                  <h5 class="card-title mx-auto"><%= bot[i].botName %></h5>
                  <p class="card-text text-truncate mx-auto"><%= bot[i].shortD %></p>
                </a>
                </div>
              </div>
            <% } %>
            </div>
        </div>
</section>
<%- include('../partials/footer.ejs', {}) %>