<!DOCTYPE html>
<html>
  <head>
    <title><%= bot.username %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='icon' href='/images/logo.png' />
  </head>
  <body>
    <nav class="nav">
      <a href="/"><button class="nav-button">HOME</button></a>
      <a href="/discord"><button class="nav-button">JOIN DISCORD</button></a>
      <% if(user != "yok"){ %>
        <a href="/profile"><button class="nav-login"><%= user.username %></button></a></button>
        <a href="/addbot"><button class="nav-button">ADD BOT</button></a>
      <% }else{ %>
      <a href="<%= loginurl %>"><button class="nav-login">LOGIN</button></a>
      <% } %>
    </nav>
    <section class="index-section">
        <img src="https://cdn.discordapp.com/avatars/<%= bot.id %>/<%= bot.avatar %>.png?size=256" style="border-radius: 50%;"/>
        <br/><br/><h2><%= bot.username %>#<%= bot.discriminator %></h2><br/>
        <p><%= shortD %></p><br/><br/><br/><br/>

      
        <a href="/vote/<%= bot.id %>"><button class="nav-button"><%= vote %> VOTE</button></a>

        <% if(website.length > 0){ %>
          <a href="<%= website %>"><button class="nav-button">WEBSITE</button></a>
          <% } %>

            <% if(supportServer.length > 0){ %>
              <a href="<%= supportServer %>"><button class="nav-button">SUPPORT SERVER</button></a>
              <% } %>
<br/><br/><br/><br/>
<textarea class="longD" disabled><%= longD %></textarea>
            
    </section>
  </body>
</html>
