<!DOCTYPE html>
<html>
  <head>
    <title>HOME</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='icon' href='/images/logo.png' />
  </head>
  <body>
    <nav class="nav">
      <a href="/"><button class="nav-button">HOME</button></a>
      <a href="/discord"><button class="nav-button">JOIN DISCORD</button></a>
      <% if(user != "yok"){ %>
        <a href="/profile"><button class="nav-login"><%= user.username %></button></a></button>
        <a href="/addbot"><button class="nav-button">ADD BOT</button></a>
      <% }else{ %>
      <a href="<%= loginurl %>"><button class="nav-login">LOGIN</button></a>
      <% } %>
    </nav>
    <section class="index-section">
      <img src="/images/logo.png" style="border-radius: 50%;">
      <br/><br/>
      <h1 style="font-size:36px">VEILSA BOT LIST</h1>
      <p style="font-size: 20px; font-style: italic;">Add your bot and start promoting for free</p><br/>
      <form>
        <input type="text" name="filterbot" class="filterbot" placeholder="Search bot">
      </form>
      <br/><br/><br/>
      <% for(var i = 0; i < data.length; i++){ %>
        <a href="/bot/<%= data[i].botID %>" style="text-decoration: none; color:white;"><div class="botl">
          <br/><br/>
          <img src="<%= data[i].botPP %>" style="border-radius: 50%; width: 100px; height: 100px;"/>
      <p><%= data[i].botName %></p>
    </div></a>
      <% } %>
    </section>
  </body>
</html>
