<!DOCTYPE html>
<html>
  <head>
    <title>PROFILE</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='icon' href='/images/logo.png' />
  </head>
  <body>
    <nav class="nav">
      <a href="/"><button class="nav-button">HOME</button></a>
      <a href="/discord"><button class="nav-button">JOIN DISCORD</button></a>
      <a href="/profile"><button class="nav-login"><%= user.username %></button></a></button>
      <a href="/addbot"><button class="nav-button">ADD BOT</button></a>
    </nav>
    <section class="index-section">
      <img src="<%= user.avatarUrl(512) %>" style="border-radius: 50%;"/>
      <h1><%= user.username %>#<%= user.discriminator %></h1>
      <br/><br/>
      <% for(var i = 0; i < data.length; i++){ %>
        <a href="/bot/<%= data[i].botID %>" style="text-decoration: none; color:white;"><div class="botl">
          <br/><br/>
          <img src="<%= data[i].botPP %>" style="border-radius: 50%; width: 100px; height: 100px;"/>
      <p><%= data[i].botName %></p>
    </div></a>
      <% } %>
    </section>
  </body>
</html>
